// Main
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: 0 !important;
}

a:hover,
a:focus, {
    color: $rarity-purple;
    text-decoration: none;
}

figure {
    margin: 0;
    padding: 0;

    img {
        width: 100%;
        height: auto;
    }
}

img.roundy {
    border-radius: 8px;
    margin: 20px 0;
}

img.lilroundy {
    border-radius: 4px;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0;
    padding-left: 0;
}

.row {
    padding: 30px 0;
}

// Body Settings

body {
    background-color: $almost-black;
    color: $light-text;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    height: auto;
}

body {
    background-image: url("../img/texture/debut_dark.png");
}

main {
    background:url("../img/pages/bigninja.png") left center no-repeat fixed;
    @include background-size(cover);
}

// Buttons
.btn {
    color: $light-text;
    background-color: $rarity-purple;
    padding: 11px 20px 13px;
    margin: 15px 0;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    border: none;
    text-transform: uppercase;
    @include ease-out-200(all);
    @include border-radius(3px);
    @include box-shadow($light-shadow);
}
