// Icon Overlay

.icon-overlay {
    display: block;
    position: relative;
}

.icon-overlay img {
    display: block;
    max-width: 100%;
}

.icon-overlay a .icn-more {
    opacity: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    background-color: transparentize($rarity-purple, 0.2);
    @include ease-out-200(all);
    overflow: hidden;
}

.icon-overlay a:hover .icn-more {
    opacity: 1;
}

.icon-overlay a .icn-more:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    position: absolute;
    text-align: center;
    content: '\f067';
    width: 60px;
    height: 60px;
    font-size: 60px;
    line-height: 1;
    color: $light-text;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -30px 0 0 -30px;
    @include ease-out-200(all);
}

.icon-overlay a:hover .icn-more:before {
    font-size: 30px;
    padding-top: 15px;
}

.icon-overlay.icn-link a .icn-more:before {
    content: '\f067';
}
